:root {
  --background-color: #181818;
  --font-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--background-color);
  color: var(--font-color);
  height: 100%;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-bottom: 5rem;
}

.left > img {
  width: 350px;
  height: auto;
}

.left > .username > p,
.left > .password > p {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
  /* 1rem -> 16px */
}

.left > .username > .username-data,
.left > .password > .password-data {
  background: transparent;
  border: 2px solid #dddddd8d;
  border-radius: 0.75rem;
  height: 30px;
  width: 300px;
  color: var(--font-color);
  padding-left: 0.5rem;
  font-size: 1rem;
}

.left > .password {
  margin-bottom: 2rem;
}

.left > a > button {
  font-size: 1rem;
  background: #fff;
  border: 0;
  color: #000;
  width: 300px;
  height: 35px;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.left > a > button:hover {
  border: 2px solid #dddddd8d;
  background: #4d0c45;
  color: #ffffff;
  cursor: pointer;
}
/* #58104f */

.left > .optional {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left > .optional > .forgot-password{
  background: transparent;
  border: 0;
  margin-bottom: 1rem;
}

.left > .optional > .forgot-password > a{
  font-size: 1rem;
  margin-block: 1rem;
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.5s;
}

.left > .optional > .forgot-password > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #c324ad;
}

.left > .optional > a > button {
  background: transparent;
  border: 2px solid #dddddd8d;
  color: var(--font-color);
  width: 200px;
  height: 30px;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.left > .optional > a > button:hover {
  border-color: #4d0c45;
  cursor: pointer;
}

.left > footer {
  font-size: 1.5rem;
  display: block;
  position: absolute;
  bottom: -20px;
}
.right {
  display: flex;
  flex: 1;
  background-image: url("./Images/login-image.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  filter: blur(0.2rem);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10%;
  left: 33%;
  background: var(--background-color);
  border-radius: 1rem;
  width: 700px;
  height: 650px;
  z-index: 2;
  padding-inline: 8rem;
}

.modal > .modal-exit{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.modal > .modal-exit:hover{
  background: transparent;
  color: #fff;
}

.modal > img {
  height: 200px;
  width: auto;
  margin-bottom: 0rem;
}

.modal > h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.modal > p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.modal > .account-username{
  margin-top: 2rem;
}

.modal > input {
  background: transparent;
  border: 2px solid #dddddd8d;
  border-radius: 0.75rem;
  height: 30px;
  width: 100%; /* 1. 300px */
  color: var(--font-color);
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.modal > button {
  position: absolute;
  bottom: 0;
  background: #fff;
  color: #000;
  border: 2px solid #dddddd8d;
  width: 62%; /* 1. 200px */
  height: 30px;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

.modal > button:hover {
  cursor: pointer;
  background: #4d0c45;
  color: var(--font-color);
}
.modal-overlay {
  display: fixed;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hidden {
  display: none;
}
/* .right > .blur{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
    } */
